<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Practica 8 DSI</title>
  </head>

  <body>
    <%- include components/head %>

    <h1>Error!</h1>
    <h2>La cuenta introducida no existe.</h2>

  </body>
</html>